<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Create Bistro</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Food Outlet Rating System</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/outlets}">Outlets</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class="text-center">Create New Bistro</h1>
            <div class="card-body">
                <form th:action = "@{/bistros}" th:object = "${bistro}" method="post">
                    <div class="form-group">
                        <label>Bistro Name: </label>
                        <input
                                type="text"
                                name="name"
                                th:field = "*{name}"
                                class="form-control"
                                placeholder="Enter Bistro Name.."
                        />
                    </div>

                    <div class="form-group">
                        <label>Bistro Rating: </label>
                        <input
                                type="text"
                                name="rating"
                                th:field = "*{rating}"
                                readonly
                                class="form-control"
                                placeholder="N\A"
                        />
                    </div>

                    <div class="form-group">
                        <label>Bistro Price Range: </label>
                        <input
                                type="text"
                                name="range"
                                th:field = "*{range}"
                                class="form-control"
                                placeholder="Enter Bistro Range.."
                        />
                    </div>

                    <div class="form-group">
                        <label>Bistro Hours: </label>
                        <input
                                type="text"
                                name="hours"
                                th:field = "*{hours}"
                                class="form-control"
                                placeholder="Enter Bistro Hours.."
                        />
                    </div>

                    <div class="form-group">
                        <label>Bistro City: </label>
                        <input
                                type="text"
                                name="city"
                                th:field = "*{city}"
                                class="form-control"
                                placeholder="Enter Bistro City.."
                        />
                    </div>

                    <div class="form-group">
                        <label>Bistro Given Vote: </label>
                        <input
                                type="text"
                                name="given_vote"
                                th:field = "*{given_vote}"
                                readonly
                                class="form-control"
                                placeholder="N/A"
                        />
                    </div>

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>